@import './variables.scss';

// RESET
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 60%;
    margin: 0 auto;
}

.container50 {
    width: 50%;
    margin: 0 auto;
}

// Columns
.col-center {
    flex-grow: 1;
    margin: 0 10px;
}

.col-25 {
    width: 25%;
}

.col-32 {
    width: 32%;
}

.col-40 {
    width: 40%;
}

.col-45 {
    width: 45%;
}

.col-60 {
    width: 60%;
}

.col-100 {
    width: 100%;
}

section {
    padding: 80px 0;
}

// General tag
img {
    width: 100%;
}

ul {
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none;
}

// BUTTON
.btn {
    display: inline-block;
    text-align: center;
}

.btn-primary {
    background-color: $primary-color;
    padding: 10px 25px;
    color: $secondary_color;
    border-radius: 20px;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
}

.btn-bckg-blue {
    border: 3px solid $third_color;
    padding: 8px 20px;
    border-radius: 20px;
    color: $third_color;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
}

.button-100 {
    width: 100%;
}

.button-lg {
    padding: 10px 100px;
}

// Input
.input-100 {
    display: block;
    width: 100%;
    margin-bottom: 30px;
    padding: 15px 10px;
    border-radius: 5px;
    border: 1px solid #d8d8d8;
    background-color: #f7f7f7;
    color: rgb(190, 190, 190);
}

// CARD  ----  posso fare un mixin
.card-primary {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 6px solid $primary_color;
    border-radius: 10px;

    // test
    // border: 1px solid black;
}

// Text Color
.text-primary {
    color: $primary_color
}

// Box-shadow
.box-shadow {
    box-shadow: 0px 20px 20px 0 rgb(230, 230, 230);
}