@import './variables.scss';

// RESET
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 60%;
    margin: 0 auto;
}

.container50 {
    width: 50%;
    margin: 0 auto;
}

// Columns
.col-center {
    flex-grow: 1;
    margin: 0 10px;
}

.col-32 {
    width: 32%;
}

.col-40 {
    width: 40%;
}

.col-45 {
    width: 45%;
}

.col-60 {
    width: 60%;
}

.col-100 {
    width: 100%;
}

section {
    padding: 80px 0;
}

// General tag
img {
    width: 100%;
}

ul {
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none;
}

// BUTTON
.btn {
    display: inline-block;
    text-align: center;
}

.button-100 {
    width: 100%;
}

.btn-primary {
    background-color: $primary-color;
    padding: 10px 20px;
    color: $secondary_color;
}

.btn-bckg-blue {
    border: 2px solid $third_color;
    padding: 10px 20px;
    color: $third_color;
}

// Input
.input-100 {
    display: block;
    width: 100%;
    margin-bottom: 30px;
    padding: 15px 10px;
    border-radius: 5px;
    border: 1px solid gray;
}

// CARD  ----  posso fare un mixin
.card-primary {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 6px solid $primary_color;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 gray, 0 6px 20px 0 gray;

    // test
    // border: 1px solid black;
}