// Color
$primary_color: #7abc64;
$secondary_color: #ffffff;
$third_color: #7799ad;

// Section Title - Font Size
$section_title_font_size: 40px

// Text color
// $primary_text_color: white;

// Text Font Family
// $title_text_font: 'Martel Sans', sans-serif;
// $primary_text_font: 'Mukta', sans-serif;